.center-align{
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: 48px;
    font-weight: 400;
    color: #64B61A;
    font-family: Courier New, monospace;
}

.tech_table{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}